body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url(../images/KMG-logo.png);
    background-repeat: inherit;
}

img {
    max-width: 40%;
    height: auto;
    
}


header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 150px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.content-img {
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5%;
    border-color: #333;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
}

.sidebar {
    width: 300px;
    background-color: #eee;
    padding: 20px;
    box-shadow: #000;
    border-radius: 3%;
    font-weight: bold;
}

.sidebar h3, .sidebar h2 {
    margin: 0;
    color: #000;
    font-style: italic;
}

.sidebar a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.sidebar a:hover {
    color: #000;
}


footer {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
}

footer h2, footer h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

footer b {
    color: #f1c40f;
}

